.cardMe {
    border-radius: 5px 5px 5px 5px ;
    -webkit-border-radius: 5px 5px 5px 5px ;
    -moz-border-radius: 5px 5px 5px 5px ;
    -ms-border-radius: 5px 5px 5px 5px ;
    -o-border-radius: 5px 5px 5px 5px ;
    width: 17rem;
    background-color: #141a17;
    color: white;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    -ms-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
}

.cardMe:hover {
    background-color: #ffffff;
    color: black;
    transition: ease-out 0.5s;
    -webkit-transition: ease-out 0.5s;
    -moz-transition: ease-out 0.5s;
    -ms-transition: ease-out 0.5s;
    -o-transition: ease-out 0.5s;
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}


.cardMe-image {
    width: 17rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px ;
    -webkit-border-radius: 5px 5px 0px 0px ;
    -moz-border-radius: 5px 5px 0px 0px ;
    -ms-border-radius: 5px 5px 0px 0px ;
    -o-border-radius: 5px 5px 0px 0px ;
}

.cardMe-rating-green {
    border: 1px solid rgba(35, 206, 1, 0.596);
    color: rgba(35, 206, 1, 0.596);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 10pt;
}

.cardMe-rating-red {
    border: 1px solid rgba(206, 1, 1, 0.596);
    color: rgba(206, 1, 1, 0.596);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 10pt;
}

.cardMe-rating-yellow {
    border: 1px solid rgba(203, 206, 1, 1);
    color: rgba(203, 206, 1, 1);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 10pt;
}
