.container-main {
    height: 350px;
    width: 100%;
    background-size: cover;
    display: block;
}

.gradient {
    height: 350px;
    width: 100%;
    background-image: linear-gradient(rgb(14, 14, 14, 0.25), rgb(14, 14, 14, 1));
    position: absolute;
}

.textColorize {
    color: rgb(255, 255, 255);
    z-index: 10;
}

.textColorize h1 {
    font-weight: bolder;
}

.v-divider {
    height: 40px;
    width: 1px;
    background-color: rgb(255, 255, 255);
}

.container-desc h6 {
    font-weight:500;
    margin: 0;
}

.container-desc span, .container-desc a {
    font-weight:200;
    
}

.desc {
    font-weight:200;
}

.btn-size button {
    padding: 10px 20px;
    font-size: 1.2rem;
    
}


